@import "../../../../../vars"
;
.Contacts__Main {
  text-align: center;

  .Contacts__Main__content {
    padding: 108px 0;

    @media (max-width: @mobile-width) {
      padding: 24px 0 16px;
    }
  }

  h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 32px;

    @media (max-width: @mobile-width) {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 16px;
    }
  }

  p {
    font-size: 22px;
    line-height: 175%;

    @media (max-width: @mobile-width) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  ul {
    display: grid;
    grid-template-columns: 448px 380px;
    grid-row: auto;
    grid-gap: 32px;
    margin: 66px auto 0;
    padding: 0;
    max-width: 928px;

    @media (max-width: @mobile-width) {
      margin-top: 40px;
      display: block;
      width: 100%;
    }

    li {
      display: flex;
      flex-direction: column;
      width: 448px;
      height: 380px;
      background: var(--primary-background);
      padding: 40px;
      box-sizing: border-box;
      border-radius: 16px;
      border: 1px solid var(--cloudy);
      box-shadow: 0 0 0 rgba(0, 0, 0, .1);
      transition: box-shadow.3s ease;
      cursor: pointer;

      &.disabled {
        pointer-events: none;
        opacity: .5;
      }

      @media (max-width: @mobile-width) {
        width: 100%;
        margin-bottom: 16px;
        height: auto;
      }

      &:hover {
        box-shadow: 0 8px 24px rgba(0, 0, 0, .08);
      }

      &:active {
        background: var(--cloudy);
        box-shadow: none;
      }
    }

    .isvg {
      width: 120px;
      height: 120px;
      display: block;
      margin: 0 auto 16px;

      svg {
        display: block;
      }
    }

    h4 {
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 16px;
    }

    p {
      font-size: 16px;
      line-height: 175%;
    }
  }
}